<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<div th:insert="~{my-header :: head}"></div>

<div th:replace="~{navigation :: navi(Home)}"></div>

<body>
<div class="container">
    <!--/*@thymesVar id="student" type="com.geekbrains.entities.Student"*/-->
    <form th:action="@{/students/add}" th:object="${student}" method="post">
        <div class="form-group">
            First Name: <input type="text" class="form-control col-lg-4" th:field="*{name}"/>
        </div>
        <button name="addStudent" type="submit" class="btn btn-primary">Add student</button>
    </form>
</div>
</body>

<div th:insert="~{my-footer :: foot}"></div>

</html>
