<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<div th:insert="~{my-header :: head}"></div>

<div th:replace="~{navigation :: navi(Home)}"></div>

<body>
<div class="container">
    <h1>Welcome page</h1>

    <p sec:authorize="hasRole('ADMIN')">
        This content will only be visible to users who have the "supervisor" authority in their list of <tt>GrantedAuthoritys</tt>.
    </p>

<!--    <div sec:authorize="isAuthenticated()">-->
<!--        <h2>Index:</h2>-->
<!--        <br>-->
<!--        <a th:href="@{/students/list/order/page/0}">Show students list</a>-->
<!--        <br>-->
<!--        <div sec:authorize="hasRole('ADMIN')">-->
<!--            <a th:href="@{/students/add}">Add new student</a>-->
<!--        </div>-->
<!--    </div>-->

</div>
</body>

<div th:insert="~{my-footer :: foot}"></div>

</html>