<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<div th:insert="~{my-header :: head}"></div>

<body>
<div class="fluid-container" th:fragment="navi(activeTab)">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary ">
        <a class="navbar-brand" href="#">GeekSpring</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">

                <li sec:authorize="isAnonymous()" class="nav-item">
                    <a class="nav-link" th:href="@{/login}">Sign In</a>
                </li>

                <li sec:authorize="isAnonymous()" class="nav-item">
                    <a class="nav-link" th:href="@{/register/showRegistrationForm}">Registration</a>
                </li>

                <li sec:authorize="hasRole('ADMIN')" class="nav-item"
                    th:classappend="${activeTab == 'Admin' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{/admin}">Admin Dashboard</a>
                </li>

                <li class="nav-item" th:classappend="${activeTab == 'Home' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{/}">Home<span class="sr-only">(current)</span></a>
                </li>

                <li sec:authorize="isAuthenticated()" class="nav-item"
                    th:classappend="${activeTab == 'StudentsList' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{/students/list/order/page/0}">Students List</a>
                </li>

                <li sec:authorize="hasAnyRole('ADMIN','MANAGER')" class="nav-item"
                    th:classappend="${activeTab == 'StudentsInfo' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{/students/3}">Student Info</a>
                </li>

                <!--                <li class="nav-item">-->
                <!--                    <a class="nav-link disabled" href="#">Disabled</a>-->
                <!--                </li>-->

                <li sec:authorize="isAuthenticated()" class="nav-item"
                    th:classappend="${activeTab == 'Profile' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{/profile}">
                        <i class="fa fa-user-circle"></i>
<!--                        <div sec:authentication="principal.username"></div>-->
                    </a>
                </li>

                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <form th:action="@{/logout}" method="POST" class="form-inline my-2 my-lg-0">
                        <input type="submit" class="btn btn btn-outline-light" value="Logout"/>
                    </form>
                </li>

                <!--<div sec:authorize="isAnonymous()">-->

            </ul>
        </div>
    </nav>
    <div class="visible-md" style="height:80px;"></div>
</div>

</body>
</html>