<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<div th:insert="~{my-header :: head}"></div>

<div th:replace="~{navigation :: navi(StudentsInfo)}"></div>

<body>
<div class="container">
    <div class="row">
        <!--/*@thymesVar id="student" type="com.geekbrains.entities.Student"*/-->
        <h1 th:text="${student.firstName}"/>
    </div>

    <div class="row">
        <table class="table">
            <tbody>
            <!--/*@thymesVar id="coursesList" type="java.util.List<com.geekbrains.entities.Course>"*/-->
            <tr th:each="course : ${coursesList}">
                <td th:text="${course.title}"/>
                <td>
                    <div sec:authorize="hasRole('ADMIN')">
                        <a class="btn btn-danger"
                           th:href="@{'/students/' + ${student.id} + '/unsubscribe/' + ${course.id}}"
                           role="button">Remove</a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="row">
        <table class="table">
            <tbody>
            <!--/*@thymesVar id="coursesList" type="java.util.List<com.geekbrains.entities.Course>"*/-->
            <tr th:each="course : ${missingCourses}">
                <td th:text="${course.title}"/>
                <td>
                    <div sec:authorize="hasRole('ADMIN')">
                        <a class="btn btn-success" th:href="@{'/students/' + ${student.id} + '/subscribe/' + ${course.id}}"
                           role="button">Add</a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="row">
        <a href="/students/list">Back</a>
    </div>
</div>
</body>

<div th:insert="~{my-footer :: foot}"></div>

</html>

