<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<div th:insert="~{my-header :: head}"></div>

<div th:replace="~{navigation :: navi(StudentsList)}"></div>

<body>
<div class="container">
    <div class="row">
        <h1>Students List</h1>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Info</th>
                <th scope="col">Action</th>
                <th scope="col">Check Name</th>
            </tr>
            </thead>
            <tbody>
            <!--/*@thymesVar id="studentsList" type="java.util.List<com.geekbrains.entities.Student>"*/-->
            <tr th:each="student : ${studentsList}">
                <td th:text="${student.id}"/>
                <td>
                    <a th:href="@{'/students/' + ${student.id}}" th:text="${student.firstName}"></a>
                </td>
                <td th:text="${student.firstName.length()}"/>
                <td>
                    <div sec:authorize="hasRole('ADMIN')">
                        <!--<button class="btn btn-primary removeBtn" th:attr="entryIndex = ${student.id}">Remove</button>-->
                        <a class="btn btn-danger" th:href="@{'/students/remove/' + ${student.id}}" role="button">Remove</a>
                    </div>
                </td>
                <td>
                    <p th:if="${student.firstName.length()} &gt; 3">
                        Normal
                    </p>
                    <p class="p-3 mb-2 bg-danger text-white" th:unless="${student.firstName.length()} &gt; 3">
                        Too short
                    </p>
                </td>
            </tr>
            <tr>
                <td th:colspan="5">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" th:href="@{'/students/list/order/page/' + ${prev}}">Previous</a>
                            </li>
                            <div class="page-item" th:each="number : ${#numbers.sequence(0,totalPages - 1)}">
                                <div th:if="${number} == ${current}">
                                    <li class="page-item active">
                                        <a class="page-link" th:href="@{'/students/list/order/page/' + ${number}}"
                                       th:text="${number + 1}"></a>
                                    </li>
                                </div>
                                <div th:unless="${number} == ${current}">
                                    <li class="page-item">
                                    <a class="page-link" th:href="@{'/students/list/order/page/' + ${number}}"
                                       th:text="${number + 1}"></a>
                                    </li>
                                </div>
                            </div>
                            <li class="page-item"><a class="page-link" th:href="@{'/students/list/order/page/' + ${next}}">Next</a>
                            </li>
                        </ul>
                    </nav>
                </td>
            </tr>
        </table>

        <br>
        <a th:href="@{/}">Back To Main Page</a>

        <!--        <div class="row">-->
        <!--            <button id="consoleTestBtn">Console</button>-->
        <!--            <input id="myInput"/>-->
        <!--        </div>-->
    </div>
</div>
</body>

<div th:insert="~{my-footer :: foot}"></div>

</html>